html,
body,
#google-map {
  height: 100%;
  width: 100%;
}

.google-map-infowindow-content {
  padding: 0.4rem 1rem;
  font-weight: 500;
  font-size: 14px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  line-height: 1.5;
}
.google-map-infowindow-content a {
  color: inherit;
}

.gm-style .gm-style-iw-t::after {
  top: -1px;
}